.main {
  height: 800px;
  width: 800px;
  border: 1px solid;
  border-color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content {
  width: 400px;
  height: 200px;
  background-color: #ccc;
    position: relative;

}
#circle1 {
    width: 50px;
    height: 50px;
    background: #fc0;
    border-radius: 0 0 50px 0;
}
#circle2 {
    position: absolute;
    bottom:0;
    right:0;
    width: 50px;
    height: 50px;
    background: #fc0;
    border-radius: 50px 0 0 0px;
}
