table tr:nth-child(odd) {
    background:#00CCFF;
}
table tr:nth-of-type(even) {
    background:#FFCC00;
}
table th {
    background-color: black;
    color: aliceblue;
}
table tr:nth-child(2), table tr:nth-child(3), table tr:nth-child(4) {
    color: red;
}
@keyframes myfocus
{
    from {width: 150px}
    to {width:200px;}
}

input:focus {
    width: 200px;
}

input:hover {
    border: 2px solid royalblue;
    border-radius:10px;
    animation:myfocus 5s infinite;

}
.ban {
    height: 100px;
    width: 180px;
    background-color: #00CCFF;
    position: relative;
}
.rb {
    font-size: 8px;
    width: 60px;
    height: 20px;
    bottom: 1px;
    right: 0px;
    position: absolute;
}
.b {
    float: left;
    width: 19px;
    height: 20px;
    line-height: 20px;
    background-color: white;
    opacity: 0.5;
    text-align: center;
    margin-left:1px;
}

.b2:hover {

}
#wrap {
    position:relative;
    width:200px;
    height:180px;
    margin-left:30px;
}
#slider {
    width:600px;
    height:100%;
    background:#ffca00;
    color:#2e14d3;
    text-align:center;
    /*设置过渡属性，激活动画效果*/
    -webkit-transition:margin .4s ease-out;
}
#slider li {
    width: 200px;
    height: 100%;
    list-style: none;
    float: left;
}
#slider li:nth-child(2) {
    background-color: red;
}