.container {
  width: 100%;
  background-color: rgba(37, 120, 191, 0.76);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;


}
.logo {
  width: 60px;
  height: 60px;
  background-color: white;
}

.head_right input {
  margin-left: 20px;
  font-size: 20px;

}
.search_box {
  height: 40px;
  border-radius: 20px;
  background-color:white;
  line-height: 40px;
}
