<style>
  .indisplay {
    background-color: #F9F9F9;
  }
  .display {
    background-color: white !important;
  }
  .add {
    text-align: center;
  }
  .title {
    width: 100%;
    text-align: center;
  }
  .hig_light:hover {
    background-color: #FCF0E5;
  }
  table {
    margin-top: 10px;
  }
  .operation {
    text-align: right;
    padding-right: 30px;
  }
</style>
<div class="leader">
  <form name="form"  novalidate>
  <h2 class="sub-header form-group  has-feedback ">
    <input class="title form-control hig_light" type="text" required placeholder="{{create.questObj.title || '这里是标题'}}" name="survey_title" ng-model="create.questObj.title">
  <span class="glyphicon glyphicon-ok form-control-feedback"
        ng-show="form.survey_title.$dirty && form.survey_title.$valid"></span>
  </h2>
  <div class="table-responsive hig_light" ng-repeat="question in create.questions track by $index">
    <radio-question ng-if="question.type==0 || question.type==1"  get-question="question"></radio-question>
    <text-Question ng-if="question.type==2" get-question="question" ></text-Question>
    <div ng-if="$index!=0 && $index!=create.questions.length-1" class="operation">
      <button class="btn btn-info" ng-click="create.up($index)">上移</button>
      <button class="btn btn-info" ng-click="create.down($index)">下移</button>
      <button class="btn btn-info" ng-click="create.copy($index)">复用</button>
      <button class="btn btn-info" ng-click="create.delete($index)" >删除</button>
    </div>
    </div>
  <div class="table-responsive">
    <table ng-init="display=false" class="table width_his" >
      <tr class="add" ng-if="display" ng-class="{true:'display'}[display]">
        <td><button ng-click="create.addRadio()" class="glyphicon glyphicon-record btn btn-default">单选</button></td>
        <td><button ng-click="create.addMuti()" class="	glyphicon glyphicon-check btn btn-default">多选</button></td>
        <td><button ng-click="create.addText()" class="glyphicon glyphicon-list-alt btn btn-default">文本</button></td>
      </tr>
    <tr class="add">
      <td colspan="3" ng-class="{true:'indisplay'}[display]" ><a ng-click="display=!display" class="glyphicon glyphicon-plus btn btn-default">添加问题</a></td>
    </tr>
    </table>
    <label> 问卷截止日期</label> <input type="date" name="endTime"  ng-model="create.date" >
    <div class="btn-group getpage" role="group" >
    <button type="submit" class="btn btn-default" ng-disabled="form.$invalid" style="background: #eee;" ng-click="create.add(0)">保存问卷</button>
    <button type="submit" class="btn btn-default"  ng-disabled="form.$invalid" ng-click="create.add(1)" >发布问卷</button>
    </div>
  </div>
    </form>
</div>

