
<form name="form">
<div class="leader">
  <h2 class="sub-header">{{detail.content.title}}</h2>
  <div class="table-responsive">
    <table class="table width_his table-striped">
      <tbody ng-repeat='item in detail.content.questions'>
        <tr>
          <td>
            题号{{item.id + 1}}：{{item.type| filterQuestionType}}
          </td>
        </tr>
        <tr>
          <td>题目{{item.question}}</td>
        </tr>
          <tr >
            <tr ng-if="item.type<2" ng-repeat='i in item.content track by $index'>
              <td>{{i}}</td>
            </tr>
          </tr>
      <tr>
        <td>
          <button>编辑</button>
          <button>删除</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div ng-if="detail.content.state == 1" class="btn-group getpage" role="group" >
    <button type="submit" class="btn btn-default" ng-click="detail.vote()">提交投票</button>
    </div>
    <div ng-if="detail.content.state == 0" class="btn-group getpage" role="group" >
      <button type="submit" class="btn btn-default" ng-click="detail.save()">保存编辑</button>
    </div>
  </div>
</div>
</form>

