 <table class="table width_his table-striped" >
      <tbody>
      <tr>
        <td colspan="2">
          {{vm.obj.id+1}} , 类型 {{vm.obj.type | filterQuestionType}}
        </td>
      </tr>
      <tr>
        <td colspan="2" class="form-group  has-feedback">
          <input class="form-control" type="text" required   placeholder="{{vm.obj.question}}" ng-model="vm.obj.question"  name="{{vm.obj.id}}_{{vm.obj.type}}_title"/>
          <label class="glyphicon glyphicon-ok form-control-feedback" ng-if="vm.obj.question!=''"></label>
        </td>

      </tr>
      <tr>
        <td>选项</td>
        <td>
          <button ng-click="vm.add()">+ 增加</button>
          <button ng-click="vm.reduce()">- 删除</button>
        </td>
      </tr>

      <tr ng-repeat='i in vm.obj.content track by $index'>
        <td colspan="2" class="form-group  has-feedback">
          <input type="text" class="form-control" required  placeholder="{{i}}" ng-model="i" ng-init="i" name="{{vm.obj.id}}_{{vm.obj.id}}_option_{{$index}}" />

          <label class="glyphicon glyphicon-ok form-control-feedback" ng-if="i!=''"></label>
        </td>
      </tr>
      </tbody>
    </table>

