<table class="table width_his">
  <tbody>
  <tr>
    <td>
      {{vm.obj.id+1}} , 类型 {{vm.obj.type | filterQuestionType}}
    </td>
    <td>
      <input type="checkbox" placeholder="填写内容" ng-model="vm.obj.content[0]" ng-init="vm.obj.content[0]" name="{{vm.obj.id}}_{{vm.obj.type}}_text">是否为必填项
    </td>
  </tr>
  <tr>
    <td class="form-group  has-feedback">题目
      <textarea class="form-control"  required  placeholder="{{vm.obj.question}}" ng-model="vm.obj.question" ng-init="vm.obj.content[0] = vm.obj.content[0]"  name="{{vm.obj.id}}_{{vm.obj.type}}_title"></textarea>
      <label class="glyphicon glyphicon-ok form-control-feedback" ng-if="vm.obj.question!=''"></label>
    </td>

  </tr>
  </tbody>
</table>

