.left_tx {
    -webkit-clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
    clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
}
.right_tx {
    -webkit-clip-path: polygon(70% 0, 100% 0, 100% 100%, 30% 100%);
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 30% 100%);
}
.puzzle {
    width: 400px;
    height: 300px;
    overflow: hidden;
}
