.abs_center {
  width: 600px;
  height: 600px;
  background-color: green;
  position: relative;
}
.small_box {
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: yellow;
  margin: auto;
  left: 0px;
  top: 0;
  bottom: 0;
  right: 0;
}
.flex_center {
  width: 600px;
  height: 600px;
  background-color: green;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items:center;
}
.flex_box {
  width: 50%;
  height: 50%;
  background-color: yellow;
}
